apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: sonarr
spec:
  interval: 15m
  chart:
    spec:
      chart: sonarr
      version: 25.2.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: sonarr
  values:
    TZ: America/Chicago
    credentials:
      cloudflare:
        accessKey: ${VOLSYNC_ACCESS_KEY}
        bucket: ${VOLSYNC_BUCKET_NAME}
        encrKey: ${SONARR_CONFIG_ENCRYPTION_KEY}
        name: cloudflare
        path: ""
        secretKey: ${VOLSYNC_SECRET_KEY}
        type: s3
        url: ${VOLSYNC_S3_URL}
    exportarrImage:
      pullPolicy: IfNotPresent
      repository: ghcr.io/onedr0p/exportarr
      tag: v2.3.0@sha256:af535d94061cf97a52e1661945ffba78c03f9443eae7c0da1a80a5a4be56b520
    ingress:
      main:
        enabled: true
        hosts:
          - host: ${SONARR_DNS_PREFIX}${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        ingressClassName: external
        integrations:
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: authelia.authelia.svc.cluster.local:9091
              externalHost: ${AUTHELIA_DNS_PREFIX}${DOMAIN_0}
          certManager:
            certificateIssuer: domain-0-le-prod
            enabled: true
    metrics:
      main:
        enabled: false
        endpoints:
          - path: /metrics
            port: metrics
        prometheusRule:
          enabled: false
        targetSelector: metrics
        type: servicemonitor
    persistence:
      config:
        enabled: true
        readOnly: false
        storageClass: ""
        targetSelector:
          exportarr:
            exportarr:
              mountPath: /config
              readOnly: true
          main:
            main:
              mountPath: /config
        volsync:
          - credentials: cloudflare
            dest:
              enabled: true
            name: sonarr-config-2025
            src:
              enabled: true
            type: restic
      media:
        enabled: true
        mountPath: /media
        type: nfs
        path: ${MEDIA_PATH}
        server: ${TRUENAS_IP}
    release_name: sonarr
    resources: {}
    securityContext:
      container:
        UMASK: "0022"
    service:
      main:
        enabled: true
        loadBalancerIP: ${SONARR_IP}
        ports:
          main:
            port: 8989
        type: LoadBalancer
        integrations:
          metallb:
            enabled: true
      metrics:
        enabled: true
        ports:
          metrics:
            enabled: true
            port: 8990
            targetSelector: exportarr
        targetSelector: exportarr
        type: ClusterIP
    updated: true
    workload:
      exportarr:
        enabled: true
        podSpec:
          containers:
            exportarr:
              args:
                - sonarr
              enabled: true
              env:
                CONFIG: /config/config.xml
                INTERFACE: 0.0.0.0
                PORT: "{{ .Values.service.metrics.ports.metrics.port }}"
                URL: '{{ printf "http://%v:%v" (include "tc.v1.common.lib.chart.names.fullname" $) .Values.service.main.ports.main.port }}'
              imageSelector: exportarrImage
              primary: true
              probes:
                liveness:
                  enabled: true
                  path: /healthz
                  port: "{{ .Values.service.metrics.ports.metrics.port }}"
                  type: http
                readiness:
                  enabled: true
                  path: /healthz
                  port: "{{ .Values.service.metrics.ports.metrics.port }}"
                  type: http
                startup:
                  enabled: true
                  path: /healthz
                  port: "{{ .Values.service.metrics.ports.metrics.port }}"
                  type: http
        replicas: 1
        strategy: RollingUpdate
        type: Deployment
      main:
        podSpec:
          containers:
            main:
              env:
                SONARR__AUTHENTICATION_METHOD: ""
                SONARR__PORT: "{{ .Values.service.main.ports.main.port }}"
              probes:
                liveness:
                  enabled: true
                  path: /ping
                  type: http
                readiness:
                  enabled: true
                  path: /ping
                  type: http
                startup:
                  enabled: true
                  path: /ping
                  type: http
        replicas: 1
        type: Deployment
