apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cloudflared
    namespace: cloudflared
spec:
    interval: 15m
    chart:
        spec:
            chart: cloudflared
            version: 15.2.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: cloudflared
    values:
        TZ: America/Chicago
        release_name: cloudflared
        securityContext:
            container:
                UMASK: "0022"
                runAsGroup: 0
                runAsUser: 0
        service:
            main:
                enabled: false
                ports:
                    main:
                        enabled: false
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                TUNNEL_TOKEN: ${TUNNEL_TOKEN}
                replicas: 1
                type: Deployment
