---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authelia
  namespace: authelia
spec:
  interval: 15m
  chart:
    spec:
      chart: authelia
      version: 29.31.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  releaseName: authelia
  values:
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${AUTHELIA_IP}
        ports:
          main:
            port: 9091
    credentials:
      cloudflare:
        accessKey: ${VOLSYNC_ACCESS_KEY}
        bucket: ${VOLSYNC_BUCKET_NAME}
        encrKey: ${AUTHELIA_CONFIG_ENCRYPTION_KEY}
        name: cloudflare
        path: ""
        secretKey: ${VOLSYNC_SECRET_KEY}
        type: s3
        url: ${VOLSYNC_S3_URL}
    ingress:
        main:
          enabled: true
          ingressClassName: external
          integrations:
            nginx:
              enabled: true
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: ${AUTHELIA_DNS_PREFIX}${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
    cnpg:
      main:
        mode: standalone
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: cloudflare
          revision: "3"
        recovery:
          enabled: false
          credentials: cloudflare
    persistence:
      config:
        volsync:
          - name: authelia-config-2025
            type: restic
            credentials: cloudflare
            dest:
              enabled: true
            src:
              enabled: true
    workload:
      main:
        replicas: 1
        podSpec:
          containers:
            main:
              env:
                AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_KEY}
                AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_JWT_KEY}
                AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_ENCRYPTION_KEY}
    authelia:
      server:
        buffers:
          read: 16384
          write: 16384
      theme: auto
      totp:
        issuer: ${DOMAIN_0}
      authentication_backend:
        ldap:
          address: ldap://${LLDAP_IP}:3890
          tls:
            server_name: ${LLDAP_DNS_PREFIX}${DOMAIN_0}
          base_dn: ${LLDAP_BASE_DN}
          attributes:
            username: uid
          additional_users_dn: ${LLDAP_USERS_DN}
          users_filter: ${LLDAP_USERS_FILTER}
          additional_groups_dn: ${LLDAP_GROUPS_DN}
          groups_filter: ${LLDAP_GROUPS_FILTER}
          user: ${AUTHELIA_LDAP_USER_VALUE}
          password: ${LLDAP_USER_PASSWORD}
      access_control:
        default_policy: deny
        rules:
          - domain:
              - ${DOMAIN_0}
              - '*.${DOMAIN_0}'
            policy: two_factor
            subject:
              - group:${LLDAP_ADMIN_GROUP}
              - group:${LLDAP_FAMILY_GROUP}
      session:
        cookies:
          - domain: '${DOMAIN_0}'
            authelia_url: 'https://${AUTHELIA_DNS_PREFIX}${DOMAIN_0}'
            default_redirection_url: 'https://www.${DOMAIN_0}'
      regulation:
        find_time: 10m
        ban_time: 12h
      notifier:
        smtp:
          address: smtp://${LLDAP_SMTP_SERVER_URL}:587
          username: ${LLDAP_SMTP_USERNAME}
          password: ${LLDAP_SMTP_PASSWORD}
          sender: ${LLDAP_USER_EMAIL}
          startup_check_address: ${LLDAP_USER_EMAIL}
          tls:
            server_name: ${SMTP_HOST}
