apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wedding
  namespace: sites
spec:
  interval: 15m
  chart:
    spec:
      chart: grav
      version: 14.14.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    persistence:
      media:
        enabled: true
        mountPath: /media
        type: nfs
        path: ${SITES_MEDIA_PATH}
        server: ${TRUENAS_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: ${WEDDING_DNS_PREFIX}${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix


