---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
  namespace: kavita
spec:
  interval: 15m
  chart:
    spec:
      chart: kavita
      version: 12.19.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      cloudflare:
        accessKey: ${VOLSYNC_ACCESS_KEY}
        bucket: ${VOLSYNC_BUCKET_NAME}
        encrKey: ${KAVITA_CONFIG_ENCRYPTION_KEY}
        name: cloudflare
        path: ""
        secretKey: ${VOLSYNC_SECRET_KEY}
        type: s3
        url: ${VOLSYNC_S3_URL}
    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 5000
    ingress:
      main:
        enabled: true
        ingressClassName: "external"
        hosts:
          - host: ${KAVITA_DNS_PREFIX}${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          nginx:
            enabled: true
            # auth:
            #   type: authelia
            #   internalHost: authelia.authelia.svc.cluster.local:9091
            #   externalHost: ${AUTHELIA_DNS_PREFIX}${DOMAIN_0}
          certManager:
            certificateIssuer: domain-0-le-prod
            enabled: true
    persistence:
      config:
        mountPath: /config
        volsync:
          - name: kavita-config-2025
            type: restic
            credentials: cloudflare
            dest:
              enabled: true
            src:
              enabled: true
      media:
        enabled: true
        mountPath: /media
        type: nfs
        path: ${MEDIA_PATH}
        server: ${TRUENAS_IP}
