apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: filebrowser
  namespace: filebrowser
spec:
  interval: 15m
  chart:
    spec:
      chart: filebrowser
      version: 12.40.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: filebrowser
  values:
    TZ: America/Chicago
    credentials:
      cloudflare:
        accessKey: ${VOLSYNC_ACCESS_KEY}
        bucket: ${VOLSYNC_BUCKET_NAME}
        encrKey: ${FILES_CONFIG_ENCRYPTION_KEY}
        name: cloudflare
        path: ""
        secretKey: ${VOLSYNC_SECRET_KEY}
        type: s3
        url: ${VOLSYNC_S3_URL}
    ingress:
      main:
        enabled: true
        hosts:
          - host: ${FILES_DNS_PREFIX}${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        ingressClassName: external
        integrations:
          nginx:
            enabled: true
            auth:
              type: authelia
              internalHost: authelia.authelia.svc.cluster.local:9091
              externalHost: ${AUTHELIA_DNS_PREFIX}${DOMAIN_0}
          certManager:
            certificateIssuer: domain-0-le-prod
            enabled: true
    persistence:
      config:
        enabled: true
        mountPath: /config
        readOnly: false
        storageClass: ""
        volsync:
          - credentials: cloudflare
            dest:
              enabled: true
            name: filebrowser-config
            src:
              enabled: false
            type: restic
      data:
        autoPermissions:
          enabled: false
        enabled: true
        mountPath: /data
        path: ${MEDIA_PATH}
        readOnly: false
        server: ${TRUENAS_IP}
        type: nfs
      database:
        enabled: true
        mountPath: /database
        readOnly: false
        storageClass: ""
        volsync:
          - credentials: cloudflare
            dest:
              enabled: true
            name: filebrowser-database
            src:
              enabled: false
            type: restic
    release_name: filebrowser
    resources: {}
    securityContext:
      container:
        UMASK: "0022"
    service:
      main:
        enabled: true
        ports:
          main:
            port: 10187
        type: ClusterIP
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                FB_ADDRESS: ""
                FB_BASEURL: ""
                FB_CONFIG: /config/filebrowser.json
                FB_DATABASE: /database/filebrowser.db
                FB_PORT: "{{ .Values.service.main.ports.main.port }}"
                FB_ROOT: /data
              probes:
                liveness:
                  path: /
                  type: http
                readiness:
                  path: /
                  type: http
                startup:
                  path: /
                  type: http
        replicas: 1
        type: Deployment
