apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recipes
  namespace: sites
spec:
  interval: 15m
  chart:
    spec:
      chart: grav
      version: 14.14.15
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      cloudflare:
        accessKey: ${VOLSYNC_ACCESS_KEY}
        bucket: ${VOLSYNC_BUCKET_NAME}
        encrKey: ${RECIPES_CONFIG_ENCRYPTION_KEY}
        name: cloudflare
        path: ""
        secretKey: ${VOLSYNC_SECRET_KEY}
        type: s3
        url: ${VOLSYNC_S3_URL}
    persistence:
      config:
        volsync:
          - name: recipes-config-2025
            type: restic
            credentials: cloudflare
            dest:
              enabled: true
            src:
              enabled: true
    ingress:
        main:
          enabled: true
          ingressClassName: external
          integrations:
            nginx:
              enabled: true
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: ${RECIPES_DNS_PREFIX}${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix


